<ion-view style="" class=" " id="page6" title="Signup">
    <ion-content class="has-header" padding="true" style="background: url(img/bg1.jpg) center; background-size: cover;">
        <form name="signupForm" class="list " id="signup-form2">

            <!--<label class="item item-input item-floating-label">-->

            <div ng-init="user.type='P'">
                <ion-radio style="color: #ffffff;" ng-model="user.type" ng-value="'V'" >Quero vender comida online (sou um restaurante)</ion-radio>
                <ion-radio style="color: #ffffff;" ng-model="user.type" ng-value="'P'" checked>Quero pedir comida online (sou um consumidor)</ion-radio>
            </div>
            <!--</label>-->

            <ion-list class=" " id="signup-list3">

                <label class="item item-input item-floating-label">
                    <span style="color: #9F9F9F;"  class="input-label">Name</span>
                    <input style="color: #ffffff;" ng-model="user.name" type="text" placeholder="Seu nome">
                </label>

                <label class="item item-input item-floating-label">
                    <span style="color: #9F9F9F;" class="input-label">Telefone</span>
                    <input style="color: #ffffff;" ng-model="user.phone" type="tel" placeholder="Telefone">
                </label>

                <label class="item item-input item-floating-label">
                    <span style="color: #9F9F9F;" class="input-label">Email</span>
                    <input style="color: #ffffff;" ng-model="user.email" type="email" placeholder="Email">
                </label>

                <label class="item item-input item-floating-label">
                    <span style="color: #9F9F9F;" class="input-label">Senha</span>
                    <input style="color: #ffffff;" ng-model="user.password" type="password" placeholder="Senha">
                </label>


            </ion-list>
            <div style="width: 279px; height: 35px;" class="spacer"></div>
            <button ng-click="signupEmail(signupForm, user)" class=" button button-assertive  button-block  icon-left ion-ios-email-outline " style="border-radius:0px 0px 0px 0px;" id="signup-button3">CRIAR CONTA BIG FOOD</button>
            <button ng-click="singupFacebook()" class=" button button-positive  button-block icon-left ion-social-facebook " style="border-radius:0px 0px 0px 0px;" id="signup-button4">ENTRAR COM FACEBOOK</button>
        </form>
    </ion-content>
</ion-view>
